<div class="row">	 
	<div class="col-md-6 col-sm-6">
		<% if(accessService.checkState('dashboard','dashboard_myorders',req)) { %>
			<%- partial('../partials/orders') %>
		<% } %>
		<% if(accessService.checkState('dashboard','dashboard_transactions',req)) { %>
			<% if(accessService.checkState('dashboard','dashboard_journal',req) || accessService.checkState('dashboard','dashboard_anre',req)) { %>
				<%- partial('../partials/allTransactions') %>
			<% } else { %>
				<%- partial('../partials/transactions') %>
			<% } %>
		<% } %>
		<% if(accessService.checkState('dashboard','dashboard_chat',req) && !accessService.checkState('dashboard','dashboard_myorders',req) ) { %>
			<%- partial('../partials/chat') %>
		<% } %>
		<% if(accessService.checkState('dashboard','dashboard_journal',req) || accessService.checkState('dashboard','dashboard_anre',req) || accessService.checkState('dashboard','dashboard_users',req)) { %>
			<%- partial('../partials/users') %>
		<% } %>
	</div>
	<div class="col-md-6 col-sm-6">
		<% if(accessService.checkState('dashboard','dashboard_orders',req)) { %>
			<%- partial('../partials/marketOrders') %>
		<% } %>
		<% if(accessService.checkState('dashboard','dashboard_chat',req) && accessService.checkState('dashboard','dashboard_myorders',req) ) { %>
			<%- partial('../partials/chat') %>
		<% } %>
	</div>
</div>
<% if(accessService.checkState('dashboard','dashboard_journal',req)) { %>
	<%- partial('../partials/journal') %>
<% } %>
<% if(accessService.checkState('dashboard','dashboard_anre',req)) { %>
	<%- partial('../partials/anre') %>
<% } %>